body{
    background-image: url("./Hamburger.jpg");
    background-size: cover;
    background-attachment: fixed;
}

div.center{
    align-content: center; float: right;
}

ul {
    list-style-position: inside;
}